[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/var/www/html/env/bin/uwsgi --emperor /etc/uwsgi/vassals
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target